// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
#error {
    font-size: 10pt;
    color: red;
}

div.content {
    top: 4.5rem;
    margin: 2rem;
}

#subsites_to,
#subsites_from {
    min-width: 100%;
}
#loading {
    margin-left: 5px;
}

option {
    color: #000;
}

input[type=search] {
    min-height: 1.8rem;
    outline-offset: 0;
}
select {
    min-height: 1.8rem;
    margin-left: 3px;
}
button.btn-sm {
    position: relative;
    top: -2px;
    margin-left: 3px;
}
